{
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "no-unused-vars": 1,
    "no-nested-ternary": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"]}],
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0
  },
  "plugins": ["react-hooks"],
  "extends": ["airbnb"],
  "env": {
    "browser": true
  }
}